@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,800;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: #6379F4;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Vector\ 4.png);
}

.header {
    display: flex;
    justify-content: space-between;
}

header .menu .logo img:nth-child(1) {
    width: 12%;
    margin: 3vw 1vw -1vw 6vw;
}

header .menu .logo img:nth-child(2) {
    width: 25%;
}

header .awesome {
    margin-left: 6vw;
    margin-top: 11vw;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 3vw;
}

header .awesome span {
    font-size: 5vw;
    font-style: normal;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}

header .awesome h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    margin: 3vw auto;
    font-size: 17px;
}

header .awesome .time {
    color: #6379F4;
}

header .awesome button {
    width: 11vw;
    height: 4vw;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    background: #FFFFFF;
    color: #6379F4;
}

.header-right {
    width: 54%;
    /* background-image: url(../img/button-bg-blue.png); */
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.header-right .balance {
    margin-left: -6vw;
    width: 90%;
}

.header-right .login button:nth-child(1) {
    background-color: #6379F4;
    margin-right: 15px;
    color: #FFFFFF;
    box-shadow: 0px 6px 75px;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    margin-top: 5vw;
    margin-left: 17vw;
    padding: 9px;
    width: 8vw;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.header-right .signup .btn-signup {
    background-color: #FFFFFF;
    color: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    padding: 9px;
    width: 8vw;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.signup {
    margin-left: 27vw;
    margin-top: -3.5vw;
}

main .about {
    padding: 2vw;
}

main .about-top {
    color: #3A3D42;
    text-align: center;
    font-weight: 800;
    font-size: 2vw;
}

main .about-top span {
    font-size: 60px;
}

main .about-top .about-the {
    color: #6379F4;
    font-family: 'Nunito Sans';
}

main .about-top h6 {
    font-weight: normal;
    font-family: 'Nunito Sans';
    color: #3A3D42;
    margin: 3vw;
    font-size: 18px;
}

main .about-desc {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
    font-family: 'Nunito Sans';
    text-align: center;
}

main .about-desc .support,
.about-desc .data-privacy,
.about-desc .easy-download {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    background: #FFFFFF;
    width: 28%;
    height: 20vw;
}

main .about-desc span {
    text-align: center;
    font-weight: 700;
}

main .about-desc h6 {
    font-weight: normal;
    margin: 1vw auto;
}

main .about-desc .data-privacy {
    margin: auto 3vw;
}

main .group-sponsor {
    background-color: rgba(71, 58, 209, 0.06);
    margin-left: -7vw;
}

main .transfered {
    text-align: center;
    font-family: 'Nunito Sans';
    color: #3A3D42;
    font-style: normal;
    margin: 5vw;
}

main .transfered .rp {
    font-weight: 800;
    font-size: 68px;
    line-height: 102px;
    text-align: center;
    color: #6379F4;
    background: rgba(71, 58, 209, 0.06);
    border-radius: 85px;
    padding: 1vw 5vw;
}

main .transfered h3 {
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
}

main .transfered h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

main .transfered .money {
    color: #6379F4;
}

main .thegreat {
    background-color: rgba(71, 58, 209, 0.06);
    display: flex;
    justify-content: center;
    color: #3A3D42;
    font-family: 'Nunito Sans';
    margin-top: -67vw;
    padding-bottom: 3vw;
}

main .thegreat .great-trans {
    display: flex;
    flex-direction: column;
}

/* main .great-trans .transaction {
    width: 75%;
} */

main .balance {
    position: relative;
    top: 7vw;
    left: 6vw;
}

main .thegreat .great-features {
    margin-top: 13.5vw;
    margin-left: 12vw;
}

main .thegreat .zwallet-features {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

main .thegreat .great {
    color: #6379F4;
}

main .thegreat .thegreat123 {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    line-height: 53px;
    width: 43vw;
    height: 8vw;
    padding-left: 3vw;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

main .thegreat123 .gf123 {
    font-size: 20px;
    font-weight: 700;
}

main .thegreat .no-great {
    color: #6379F4;
}

main .thegreat123 .text {
    font-size: 18px;
    font-weight: 400;
}


main .feedback {
    margin-top: 4vw;
}

main .feedback-top {
    color: #3A3D42;
    text-align: center;
    font-weight: 800;
    font-size: 2vw;
}

main .feedback-users img {
    padding: 2vw;
}

main .feedback h5 {
    font-weight: normal;
    font-family: 'Nunito Sans';
    color: #3A3D42;
    margin: 3vw;
    font-size: 18px;
}

main .feedback .wuas {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
}

main .feedback .saying {
    color: #6379F4;
}

main .feedback .users-comments {
    display: flex;
    text-align: center;
    margin-bottom: 7vw;
}

main .feedback .alex span {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
}

main .feedback .alex {
    background: #FFFFFF;
    box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
    border-radius: 30px;
    padding: 4vw 0;
    margin: auto;
}

main .feedback .alex span {
    margin-top: 1vw;
    line-height: 8vw;
}

main .feedback .alex .designer {
    margin-top: -2vw;
}

main .feedback .users-comments .arrow {
    height: 13vw;
    margin-top: 11vw;
}


footer {
    background-color: #6379F4;
    padding: 6vw;
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    margin-bottom: 2vw;
}

footer .logo-foot {
    margin-bottom: 3vw;
}

footer .hr {
    margin-top: 2.5vw;
    width: 87.6vw;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

footer .logo-foot img:nth-child(1) {
    width: 7%;
    margin: auto 1vw -1vw auto;
}

footer .logo-foot img:nth-child(2) {
    width: 17%;
}

footer .contact {
    margin-right: -1vw;
}

footer .contact span:nth-child(2) {
    margin-left: 2vw;
}